@import "./reset.css";

/* common */
.wrap { width:1000px; margin:auto; }

.bb0 { border-bottom:0 !important; }
.bl0 { border-left:0 !important; }
.orange { background-color:#EA6E21; }
.white { background-color:#fff; }
.gray00 { background-color:#F1EEEA; }
.gray01 { background-color:#D9D5D0; }
.gray02 { background-color:#C9C3BC; }
.gray03 { background-color:#C1BAB2; }
.gray04 { background-color:#b1aea9; }
.gray05 { background-color:#848484; }

/* header */
header { position:relative; margin-top:70px; margin-bottom:10px; }
header .logo { width:199px; height:30px; }
header .logo a { display:block; height:100%; background:url("https://www.hanwhahistoricalmuseum.co.kr/images/h1_logo.png") no-repeat center center; text-indent:-999px; font-size:0; }
header nav { position:absolute; top:12px; right:0; width:80%; padding-bottom:14px; }
header nav .dep01 { margin-left:50px; }
header nav .dep01:after { content:""; display:block; clear:both; }
header nav .dep01 li { float:left; width:20%; background:url("https://www.hanwhahistoricalmuseum.co.kr/images/bg_depth1.png") no-repeat center left; }
header nav .dep01 li:first-child { background:none; }
header nav .dep01 li a { display:block; text-align:center; font-size:14px; font-weight:700; }
header nav .dep01 li:hover a { color:#222; }

header nav .dep02_wrap { display:none; position:absolute; top:28px; right:0; z-index:10; width:100%; height:169px;  }
header nav .dep02 { position:absolute; top:0; right:0; width:100%; height:100%; padding-left:50px; padding-top:10px; border-left:1px solid #e4e3df; box-sizing:border-box; background-color:#f07022; }
#main header nav .dep02_wrap { width:1000px; background:url("https://www.hanwhahistoricalmuseum.co.kr/images/bg_nav.png") no-repeat bottom left; }
#main header nav .dep02 { width:80%; border-left:0; }
header nav .dep02:after { content:""; display:block; clear:both; }
header nav .dep02 > li { float:left; width:20%; text-align:left; }
header nav .dep02 ol li { margin-bottom:5px; }
header nav .dep02 .dep02_1 { margin-left:31px; }
header nav .dep02 .dep02_2 { margin-left:26px; }
header nav .dep02 .dep02_3 { margin-left:26px; }
header nav .dep02 .dep02_4 { margin-left:22px; }
header nav .dep02 .dep02_5 { margin-left:13px; }
header nav .dep02 a { display:block; position:relative; padding-left:9px; line-height:1.4em; color:#f7c5a6; font-weight:700; }
header nav .dep02 a:hover { color:#000; }
header nav .dep02 a:hover:before { content:''; width:4px; height:4px; position:absolute; left:0; top:6px; border-left:1px solid #000; border-top:1px solid #000; transform:rotate(135deg); }


/* contents */
.row:after { content:""; display:block; clear:both; }
.row .elem { position:relative; float:left; width:20%; height:170px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border-left:1px solid #e4e3df; border-bottom:1px solid #e4e3df; }
.row .elem.w40 { width:40%; }
.row .elem.w50 { width:50%; }
.row .elem:first-child { border-left:0; }
.row:last-child .elem { border-bottom:0; }

.row.flip .elem { display:none; opacity:0; }
.row.flip .elem.active { opacity:1; -webkit-transform-style:preserve-3d; transform-style:preserve-3d; -webkit-animation:flip-horizon 0.6s ease-out; animation:flip-horizon 0.6s ease-out; }
.row.flip .elem.remove { opacity:0; }

@keyframes flip-horizon {
	0% {transform:rotateY(140deg)}
	100% {transform:rotateY(0deg)}
}

@keyframes flip-vertical {
	0% {transform:rotateX(140deg)}
	100% {transform:rotateX(0deg)}
}

/* main */
.main_box .row .elem.bg01 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/main_img_1.jpg") no-repeat; }
.main_box .row .elem.bg02 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/main_img_2.jpg") no-repeat; }
.main_box .row .elem.bg03 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/main_img_3.jpg") no-repeat; }
.main_box .row .elem.bg04 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/main_img_7.png") no-repeat; }
.main_box .row .elem.bg05 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/main_img_5.jpg") no-repeat 0 -171px; }
.main_box .row .elem.bg06 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/main_img_6.jpg") no-repeat; }

.main_box .row .elem .elemText { padding:13px; color:#292929; cursor:pointer; line-height:1.2em; font-weight:700; letter-spacing:-0.8px; }
.main_box .row .elem .elemText.f_w { color:#fff; }
.main_box .row .elem .elemText.f_b { color:#4f4023; }
.main_box .row .elem .elemText.f_w dd { color:#e4e3df; }
.main_box .row .elem .elemText.p_b { position:absolute; left:0; bottom:0; }
.main_box .row .elem .elemText dt { margin-bottom:3px; font-size:15px; }
.main_box .row .elem .elemText dd { font-size:12px; }

.main_box .pop .elem { border:0; -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease; }

.main_box .pop .popText { margin:19px 0 0 20px; color:#fff; line-height:1.3em; }
.main_box .pop .popText dt { margin-bottom:4px; font-size:14px; font-weight:700; }
.main_box .pop .popText dd { font-size:13px; }

.main_box .pop .closePop { position:absolute; top:20px; right:20px; width:13px; height:13px; cursor:pointer; background:url("https://www.hanwhahistoricalmuseum.co.kr/images/btn_close_pop_white.png") no-repeat center center; }

.main_box .pop .popList dt { margin-bottom:3px; }
.main_box .pop .popList dt a { display:block; padding:5px; background-color:#c4b9aa; color:#523d30; font-size:11px; text-align:center; font-weight:700; }
.main_box .pop .popList dd a { color:#c4b9aa; font-size:10px; font-weight:700; line-height:1.3em; }

.main_box .pop01 { position:absolute; top:0; left:0; z-index:100; width:1000px; }
.main_box .pop_bg01 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/main_pop_1.jpg") no-repeat; }

.main_box .pop02 { position:absolute; top:0; left:0; z-index:100; width:600px; }
.main_box .pop_bg02 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/main_pop_2.png") no-repeat; }
.main_box .pop02 .bg_p6 .popList { margin-left:75px; }
.main_box .pop02 .bg_p12 .popList { margin-left:10px; }
.main_box .pop02 .popText { margin:35px 41px; }
.main_box .pop02 .popText dd { font-family:"arial"}
.main_box .pop02 .popText dt em { color:#ceaa75; }
.main_box .pop02 .popList { width:210px; min-height:85px; }

.main_box .pop03 { position:absolute; bottom:0; left:0; z-index:100; width:400px; }
.main_box .pop_bg03 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/main_pop_4.jpg") no-repeat; }
.main_box .pop03 .popText { margin:31px 0 10px 21px; }
.main_box .pop03 .popList { width:175px; margin-left:21px; min-height:57px; }
.main_box .pop03 .popList dt a { background-color:#f7c5a6; color:#000; }
.main_box .pop03 .popList dd a { color:#000; }

.main_box .pop04 { position:absolute; left:0; bottom:0; z-index:100; width:400px; }
.main_box .pop_bg04 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/main_pop_3.jpg") no-repeat; }
.main_box .pop04 .popText { margin:28px 0 0 23px; }
.main_box .pop04 .popList { margin-left:23px; min-height:22px; }
.main_box .pop04 .popList:first-child { margin-top:92px; }
.main_box .pop04 .popList dt a { background-color:#2b2b2b; color:#c0c0c0; }

.row .bg_p1 { background-position:0 0 !important; }
.row .bg_p2 { background-position:-200px 0 !important; }
.row .bg_p3 { background-position:-400px 0 !important; }
.row .bg_p4 { background-position:-600px 0 !important; }
.row .bg_p5 { background-position:-800px 0 !important; }
.row .bg_p6 { background-position:0 -170px !important; }
.row .bg_p7 { background-position:-200px -170px !important; }
.row .bg_p8 { background-position:-400px -170px !important; }
.row .bg_p9 { background-position:-600px -170px !important; }
.row .bg_p10 { background-position:-800px -170px !important; }
.row .bg_p11 { background-position:-300px 0 !important; }
.row .bg_p12 { background-position:-300px -170px !important; }


/* sub */
.sub_box { position:relative; }
.sub_box .row .elem.bg01 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/bg_lnb4_1.png") no-repeat; }
.sub_box .row .elem.bg02 { background:url("https://www.hanwhahistoricalmuseum.co.kr/images/bg_lnb4_2.png") no-repeat; }

.sub_box .column { position:absolute; top:170px; left:0; width:20%; height:510px; background:red;}
.sub_box .column .elem { height:170px; }

.sub_box .sub01_menu { padding:15px 0 0 15px; }
.sub_box .sub01_menu dt { margin-bottom:8px; font-size:18px; font-weight:700; color:#fff; }
.sub_box .sub01_menu dd a { display:inline-block; position:relative; padding-left:8px; line-height:1.5em; font-size:13px; color:#f7c5a6; font-weight:700; }
.sub_box .sub01_menu dd a:hover,
.sub_box .sub01_menu dd.on a { color:#000; }
.sub_box .sub01_menu dd a:hover:before,
.sub_box .sub01_menu dd.on a:before { content:''; width:5px; height:5px; position:absolute; left:0; top:7px; border-left:1px solid #000; border-top:1px solid #000; transform:rotate(135deg); }

.sub_box .sub02_menu { padding:15px 15px 0 0; text-align:right; }
.sub_box .sub02_menu dt span { display:block; padding-bottom:4px; font-size:11px; color:#666; }
.sub_box .sub02_menu dt { display:inline-block; font-size:18px; padding-bottom:5px; margin-bottom:10px; border-bottom:1px solid #bebcb9; color:#1f1f1f; font-weight:700; }
.sub_box .sub02_menu dd a { display:inline-block; position:relative; padding-left:11px; font-size:10px; line-height:1.6em; color:#848484; font-weight:700; }
.sub_box .sub02_menu dd a:hover,
.sub_box .sub02_menu dd.on a { color:#c32e00; }
.sub_box .sub02_menu dd a:hover:before,
.sub_box .sub02_menu dd.on a:before { content:""; display:block; position:absolute; top:5px; left:0; width:5px; height:5px; border-top:1px solid #ea6d21; border-left:1px solid #EA6E21; transform:rotate(135deg);}

.sub_box .sub_contents { height:510px; margin-left:20%; overflow:auto; background-color:#fff; } 


/* footer */
footer { position:relative; margin-top:22px; text-align:left; }
footer .footerMenu:after { content:""; display:block; clear:both; }
footer .footerMenu li { float:left; }
footer .footerMenu li:last-child:after { content:none; }
footer .footerMenu li:after { content:""; display:inline-block; width:1px; height:6px; margin:2px 9px 0; background-color:#b8b7b6; }
footer .footerMenu li a { color:#4a4a4a; font-size:10px; }
footer .copyright { margin-top:5px; font-size:8px; color:#4a4a4a; letter-spacing:-0.3px; }

footer .familysite { position:absolute; top:0; right:0; }
footer .familysite .label { cursor:pointer; }
footer .familysite .siteList { display:none; position:absolute; bottom:18px; left:0; width:128px; padding:0 8px 4px; font-size:11px; border:1px solid #ddd; background-color:#fff; border-radius:7px 7px 0 0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
footer .familysite .siteList a { font-size:11px; }
footer .familysite .siteList dt { padding:8px 0; }
footer .familysite .siteList dt.title { padding:12px 0 10px; border-bottom:1px solid #ddd; }
footer .familysite .siteList dd { line-height:17px; }
footer .familysite .siteList dd:hover a { text-decoration:underline; }