@import "https://minjic.github.io/css/reset.css";

html,body { font:normal 15px/24px 'Noto Sans Kr', '돋움', dotum, sans-serif; letter-spacing:-0.03em; }
header { position:fixed; top:0; left:0; z-index:1000; width:100%; height:80px; line-height:80px; font-weight:700; font-size:50px; text-align:center; background-color:rgba(255,255,255,0.6); border-bottom:1px solid #fff; }

/* main visual */
.main-visual { width:100%; height:100vh; }

.main-visual .swiper-slide { position:relative; background:url('http://www.true-inno.com/imgs/main/bg_main.png') no-repeat center top; background-size:cover; }
.main-visual .slide01 { background-color:#5f96be; }
.main-visual .slide02 { background-color:#8484a0; }
.main-visual .slide03 { background-color:#d89c2b; }
.main-visual .slide04 { background-color:#aaa7ad; }
.main-visual .slide05 { background-color:#39a2a5; }

.main-visual .swiper-slide .txt { position:absolute; top:27%; left:40px; z-index:1000; padding:55px 0 135px; color:#fff; font-size:43px; line-height:1.4em; font-family:'Noto Sans KR'; font-weight:900; }
.main-visual .swiper-slide .txt .sub { position:absolute; top:0; left:0; font-size:15px; }
.main-visual .swiper-slide .txt:before { content:""; display:block; position:absolute; bottom:5px; left:217px; width:15px; height:1px; background-color:#fff; transform:rotate(45deg); }
.main-visual .swiper-slide .txt:after { content:""; display:block; position:absolute; bottom:0; left:150px; width:80px; height:1px; background-color:#fff; }

.main-visual .swiper-slide .img { position:absolute; top:50%; left:50%; z-index:500; width:70vw; height:70vh; margin-top:-35vh; margin-left:-35vw; box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2); transition:0.5s; }
.main-visual .slide01 .img { background:#5f96be url("http://www.true-inno.com/imgs/main/vis02.jpg") no-repeat center center; background-size:cover; }
.main-visual .slide02 .img { background:#8484a0 url("http://www.true-inno.com/imgs/main/vis03.jpg") no-repeat center center; background-size:cover; }
.main-visual .slide03 .img { background:#d89c2b url("http://www.true-inno.com/imgs/main/vis04.jpg") no-repeat center center; background-size:cover; }
.main-visual .slide04 .img { background:#aaa7ad url("http://www.true-inno.com/imgs/main/vis05.jpg") no-repeat center center; background-size:cover; }
.main-visual .slide05 .img { background:#39a2a5 url("http://www.true-inno.com/imgs/main/vis06.jpg") no-repeat center center; background-size:cover; }

.main-visual .swiper-slide.on .img { position:relative; width:100vw; height:100vh; margin-top:-50vh; margin-left:-50vw; }
.main-visual .swiper-slide.on .img:before { content:''; position:absolute; top:0; right:257px; width:1px; height:100%; background-color:rgba(255,255,255,0.2); }

.main-visual .swiper-slide .object { position:absolute; left:50%; top:50%; z-index:700; width:290px; height:337px; margin:-165px 0 0 -145px; background:url('http://www.true-inno.com/imgs/main/bg_figure01.png') no-repeat center top; background-size:100%; opacity:0; transition:0.5s; }
.main-visual .swiper-slide.on .object { opacity:0.2; }

/* slide btn -- arrow */
.main-visual .slide-btn { position:absolute; bottom:40px; left:50%; z-index:100; margin-left:-160px; width:320px; height:30px; }
.main-visual .slide-btn .slide-btn-prev { display:block; position:absolute; top:0; left:0; width:15px; height:100%; }
.main-visual .slide-btn .slide-btn-prev:before { content:""; display:block; position:absolute; top:7px; left:-2px; width:20px; height:1px; background-color:#fff; transform:rotate(-45deg); }
.main-visual .slide-btn .slide-btn-prev:after { content:""; display:block; position:absolute; bottom:8px; left:-2px;  width:20px; height:1px; background-color:#fff; transform:rotate(45deg); }
.main-visual .slide-btn .slide-btn-next { display:block; position:absolute; top:0; right:0; width:15px; height:100%; }
.main-visual .slide-btn .slide-btn-next:before { content:""; display:block; position:absolute; top:7px; left:-2px; width:20px; height:1px; background-color:#fff; transform:rotate(45deg); }
.main-visual .slide-btn .slide-btn-next:after { content:""; display:block; position:absolute; bottom:8px; left:-2px;  width:20px; height:1px; background-color:#fff; transform:rotate(-45deg); }
.main-visual .slide-btn .object { position:relative; display:block; width:28px; height:28px; margin:auto; border:1px solid #fff; border-radius:15px; }
.main-visual .slide-btn .object:after { content:""; position:absolute; top:15px; left:50%; display:block; width:4px; height:4px; margin-left:-2px; border-radius:2px; background-color:#fff; }

/* slide pagination & bullet */
.main-visual .slide-pagination { position:absolute; bottom:63px; left:40px; z-index:100; width:150px; padding-left:20px; color:#fff; }
.main-visual .slide-pagination:before { content:""; display:block; position:absolute; top:0; left:0; width:1px; height:153px; margin:6px 0; box-sizing:border-box; background-color:#fff; }
.main-visual .slide-pagination i.bullet { display:block; position:absolute; top:6px; left:-6px; width:12px; height:13px; background:url("http://www.true-inno.com/imgs/ico/ico_page.png") no-repeat 0 0; background-size:100%; transition:top 0.1s ease-in-out; }
.main-visual .slide-pagination span { display:inline-block; padding-top:11px; font-size:14px; opacity:0.3; }
.main-visual .slide-pagination span:first-child { padding-top:0; }
.swiper-pagination-bullet-active { opacity:1 !important; }